# Dependencies
node_modules
npm-debug.log

# Build output
build
dist

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# OS
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output
